<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdventureData.Properties.Settings.AdventureWorksLT2012ConnectionString"
            connectionString="Data Source=WIN-KO3FP7JO1SO\SQLEXPRESS;Initial Catalog=AdventureWorksLT2012;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>